@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Kurale&family=Laila:wght@400;600&family=Montserrat:wght@400;600&display=swap');
@import url("resume.css");
@import url("projects.css");
@import url("header.css");
@import url("footer.css");

:root{
    --main-color:#121036;
    --text-color:#F1EEE9;
    --bold-color:#915a27;
    --shadow-hover-color:#191649;

    /* --main-color:#0B2136; 
    --text-color:#cef0ea;
    --bold-color:#22D4FD;
    --shadow-hover-color:#063b4738; 

    --title-font:'Krona One', sans-serif;
    --text-font:'Montserrat', sans-serif;*/

    --title-font:'Laila', sans-serif;
    --text-font:'Montserrat', sans-serif;
    --button-font:'Kurale', serif ;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--text-color);
}

.apresentacao{
    padding: 4% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.apresentacao__conteudo__titulo{
    margin: 0.3em 0;
    font-size: 1.75rem;
    font-family: var(--title-font);
}


.titulo-destaque{
    color: var(--bold-color);
}

.apresentacao__conteudo__texto{
    margin: 0.3em 0;
    font-size: 1.25rem;
    font-family: var(--text-font);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1.25rem;
}

.apresentacao__links__botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 0.5px solid var(--bold-color);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    box-shadow: 2px 2px var(--bold-color);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--title-font);
}

.apresentacao__links__botao:hover{
    width: 49%;
    background-color: var(--shadow-hover-color);
    color: var(--bold-color);
    box-shadow: 4px 4px var(--bold-color);
}

.apresentacao__foto{
    width: 50%;
}

@media (max-width: 1200px) {
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}
